body {
    margin: 80px 40px;
    font-family: "Karla", sans-serif;
    background-color: #111111;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    
}

.main-container {
    background-color: #1F2937;
    padding: 40px 40px;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    box-shadow: 0px 0px 5px #55F991;    
}

button:hover {
    cursor: pointer;
    filter: brightness(.7);
}

.emoji {
    font-size: 50px;
    margin: 0 0 15px 0;
}

#title {
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    
}

#sec-title {
    color: #4ADF86;
    text-shadow: 3px 3px #273549;
}

#sub-title {
    margin: 10px 0;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 18px;
}

#pass-el {
    display: flex;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 30px 0 35px 0; 
    width: 185px;
    background-color: #10B981;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    box-shadow: 0px 0px 1px #111111;    

}

.generated-pass {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.line {
    border: 1.5px solid #273549;
    margin: 0px 0px;
}

#gen-el1, #gen-el2 {
    display: flex;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0 15px 0 0;
    width: 200px;
    height: 35px;
    background-color: #273549;
    color: #55F991;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    box-shadow: 1px 1px #55F991;    
}

.reset-container {
    display: flex;
   margin: 40px 0;
}

#reset-el {
    display: flex;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 185px;
    background-color: #10B981;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    box-shadow: 0px 0px 1px #111111;    
}